.bg-sec1{
    background-color: #24292E;
    height: 100vh;
}

h1{
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 36px;
}

.input-username{
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
#userSearch_home-form{
    justify-content: center;
    text-align: center;
}

.submit{
    border-radius: 10px;
    background-color: #586069;
    border: 1px solid rgb(0,0,0,.2);
    color: white;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#username{
    padding: 10px 10px 10px 10px;
    border: 1px solid rgb(0,0,0,.2);
    border-radius: 10px;
    outline: none;
    
}

::placeholder{
    color:#586069 ;
}

.coin-image-btc{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 280px;
    animation: float;
    animation-timing-function: ease-in-out;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
}

.coin-image-eth{
    height: 100px;
    position: absolute;
    top: 50px;
    right: 320px;
    animation: float;
    animation-timing-function: ease-in-out;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
}

@keyframes float{
    0%{
        transform: translate(0,0px);
    }

    50%{
        transform: translate(0,15px);
    }

    100%{
        transform: translate(0,-0px);
    }
}